@use 'variaveis';

.header {
    background-color: variaveis.$corDoTitulo;
    position: sticky;
    top: 0;

    &__container {
        display: flex;
        justify-content: space-between;
        padding: 12px 20px;

        @media (max-width: 768px){
            display: block;
            padding: 0 12px 0 12px;
        }

        h1 {
            color: variaveis.$corBotoes;

            @media (max-width: 768px){
                text-align: center;
                margin-bottom: 12px;
            }
        }

        &__list {
            display: flex;
            align-items: center;

            &__item {
                margin-right: 15px;

                .button {
                    text-decoration: none;
                    color: variaveis.$corBotoes;
                }
            }
        }
    }
}