@use 'variaveis';

.watch {
    padding: 5.6vw;
    margin-top: 50px;

    h2 {
        text-align: center;
    }

    &__list {
        display: flex;
        justify-content: space-around;
        margin-top: 50px;

        @media(max-width: 768px){
            display: block;
        }

        &__item {
            text-align: center;
            padding: 20px;
            
            h3 {
                font-family: Roboto, sans-serif;
            }

            p {
                font-family: Roboto, sans-serif;
            }

            img {
                height: 200px;
                border-radius: 4px;
            }

            .button {
                display: block;
                text-decoration: none;
                background-color: variaveis.$corBotoes;
                color: variaveis.$corDoTexto;
                font-size: 20px;
                padding: 5px;
                margin-top: 15px;
                font-family: Roboto, sans-serif;
                border-radius: 4px;

                &:hover {
                    background-color: darken($color: variaveis.$corBotoes, $amount: 10%);
                    color: variaveis.$corDeFundo;
                    transition: ease .3s;
                }
            }
        }
    }
}